

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="img/logo.png">
    <title>Villarba Final Exam</title>
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body background="img/back2.jpg">
<font size="30" face="Calibri Light" color="white">
<center>
    <script type="text/javascript" src="p1.js"></script>
    <script type="text/javascript" src="p2.js"></script>
    <script type="text/javascript" src="p3.js"></script>

    <h1>RUSH HOUR</h1>
    </font>

    <style>
    body{
        background:url(img/back.jpg)
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
    }
    </style>
<div class="sidebar-image-gallery">

             <a href="#" alt="Rush Hour" title="Rush Hour"><img src="img/rushhour.jpg" width="250" height="450" style="border:5px solid white"></a>

             <a href="#" alt="Rush Hour 2" title="Rush Hour 2"><img src="img/rushhour2.jpg" width="250" height="450" style="border:5px solid white"></a>

             <a href="#" alt="Rush Hour 3" title="Rush Hour 3"><img src="img/rushhour3.jpg" width="250" height="450" style="border:5px solid white"></a>
 
<br>
<br>
<br>
   <a target="_blank" href="https://www.instagram.com/markvillarva09/" alt="Instagram" title="markvillarva09"><img src="img\insta.jpg" width="52" height="52" ></a>

</div>
</center>
</body>
</html>